body{
    background: khaki;
    font-size: 12px;
}

div{
    width: 200px;
    height: 200px;
    background: rgb(0, 0, 30);
}

.rgbPorcentual{
    width: 200px;
    height: 200px;
    background: rgb(40%, 0%, 30%);
}

.rgbHexadecimal{
    background: #00ffff;
}

.rgbHsl{
    background: hsl(0, 100%, 80%);
}