body{
    background: khaki;
    margin-left: 30px
}

p.alerta{
    color: darkred;
}
.letragrande{
    font-size: 30px;
}
div#amarillo{
    width: 200px;
    height: 200px;
    background: yellow;
    margin: 20px;
    border: 1px solid black;
}

.azul{
    color: blue;
}

.verde{
    color: darkgreen;
}

#rojo{
    color: darkred;
}

p[class]{
    text-decoration: underline;
}

h2[title="primer ejemplo h2"]{
    color: darkred;
}

p[class~="letragrande"]{
    text-decoration: none;
}

a[lang|="es"]{
    font-style: italic;
}
/*      
Para elemnetos hermanos inmediatamente despues del indicado

elemento + elementoAplicar{}
*/
p + p{
    color: gray;
    text-indent: 30px;
}

/*
Selectores hijos
padre > hijo{}
*/

div > h1{
    color: black;
}

/*
Selectores de Hermanos
No importa que sea consecutivo
*/
h3 ~ h3{
    color: red;
}
